// Quantum Script Extension OpenSSL
// Copyright (c) 2022 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2022 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/QuantumScript.Extension/OpenSSL/Library.rh>
#include <XYO/QuantumScript.Extension/OpenSSL/Copyright.rh>
#include <XYO/QuantumScript.Extension/OpenSSL/Version.rh>

XYO_APPLICATION_VERSION_INFO(XYO_QUANTUMSCRIPT_EXTENSION_OPENSSL,"quantum-script--openssl.dll","Quantum Script Extension OpenSSL")
